
/* Default styles like font, fontsize, etc*/
* {
}
    #backGif{

        -fx-background-image: url(../../resources/images/backgrounds/scroll.png);
        -fx-background-size: cover;
    }

#start-pane{
    -fx-background-image: url(../../resources/images/backgrounds/fire.gif);

    -fx-background-size: cover;
}

.label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;

}


.button{
    -fx-font-size: 16px;
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-weight: bold;
    -fx-border-color: black;

}

.button:pressed {
    -fx-background-color: green;
}

.toggle-button {
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-weight: bold;
}

.toggle-button:selected {
    -fx-border-color: black;
}

.check-box{
    -fx-background-color: rgba(0,0,0,0);
}

.check-box > .box{
    -fx-padding: 5;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: black;

}

.check-box:selected .mark{
    -fx-background-color: black;
}

.text-field{
    -fx-font-size: 16px;
    -fx-pref-width: 150px;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: black;
    -fx-alignment: center;

}

#lblTitle{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding-bottom: 50px;

}