.card {
    -fx-border-color: black;
    -fx-border-width: 0.3px;

    -fx-min-width: 105;
    -fx-min-height: 165;
    -fx-max-width: 105;
    -fx-max-height: 165;

}

.cardBack{
    -fx-min-width: 80;
    -fx-pref-width: 151;
    -fx-max-width: 500;
    -fx-min-height: 120;
    -fx-pref-height: 202;
    -fx-max-height: 800;


}
#cardAmount{
    -fx-text-fill: black;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 50px;

}


.avatar{
    -fx-min-width: 50;
    -fx-pref-width: 150;
    -fx-max-width: 300;
    -fx-min-height: 80;
    -fx-pref-height: 200;
    -fx-max-height: 300;



}

.rice{
    -fx-min-width:50;
    -fx-max-width: 70;
    -fx-min-height: 50;
    -fx-max-height: 70;

}

cardBackTop{
    -fx-min-width: 25;
    -fx-pref-width: 58;
    -fx-max-width: 250;
    -fx-min-height: 40;
    -fx-pref-height: 98;
    -fx-max-height: 400;



}

#riceTop{
    -fx-min-width:50;
    -fx-max-width: 70;
    -fx-min-height: 50;
    -fx-max-height: 70;

}

.tableCards{

    -fx-min-width: 450;
    -fx-min-height: 175;
    -fx-max-width: 825;
    -fx-max-height: 175;

    -fx-border-color: #0a0309;
    -fx-border-width: 5px;
    -fx-border-radius:5px;


}
.controlButtons {
    -fx-background-radius: 1em;
    -fx-text-fill: white;
    -fx-font-family:Algerian;
    -fx-font-weight: bold;
    -fx-padding: 10, 10, 10, 10;




    -fx-background-color: linear-gradient(rgba(0, 0, 0, 0.8), rgba(102, 115, 255, 0.53));
    -fx-font-size: 20px;
}
.button:pressed {
    -fx-background-color: linear-gradient(rgba(1, 1, 2, 0.25), rgba(0, 0, 0, 0.13));;

}
#bottom {

    -fx-spacing: 15.0px;
    -fx-padding: 5px;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;


}
.scoreLabels{
    -fx-font-family: "Arial Black";


}
#start-pane{
    -fx-background-image: url(../../resources/images/backgrounds/wood.jpg);
    -fx-background-size: cover;
}



#tichuLabel{
    -fx-font-weight: bold;
    -fx-font-family: Algerian;


}

.wishView {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-max-height: 250px;
    -fx-min-height: 250;
    -fx-font-size: 15px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-border-radius: 2.5px;
}
#status{
    -fx-font-size: 10px;
    -fx-font-family: "Arial Black";






}
